/* ===========================
 * Styles for Maintenance Page
 * =========================== */

/* Sensible defaults
 * ================= */

:root {
  --font-size-base: calc(16px + 0.5vw); /* Improve readability on large screens */
  --font-size-12: 1rem;
  --font-size-14: 1.15rem;
  --font-size-16: 1.35rem;
  --font-size-18: 1.85rem;
  --font-size-24: 2rem;
  --font-size-32: 2.5rem;
  --font-size-48: 3.5rem;

  /* Layout defaults */
  --body-min-width: 20rem;
  --body-wdith: 60rem;
  --body-max-width: 80vw;
  --padding-1: 1px;
  --padding-2: 0.1rem;
  --padding-4: 0.25rem;
  --padding-8: 0.5rem;
  --padding-16: 1rem;
  --padding-32: 2.5rem;

  /* Colour Defaults */
  --black: #0d0d0d;
  --white: #eee;
  --red: #a92222;
  --yellow: #dabb16;
  --blue: #1325a8;
  --grey-light: #818395;
  --grey-dark: #2e2f31;
  --background: var(--white);
  --text-colour: var(--black);
}

* {
  min-width: 0;
  padding: unset;
  border: unset;
  margin: unset;
}

.hidden,
[hidden] {
  display: none !important;
}

/* Page layout
 * ========= */

html {
  height: 100%;
  width: 100%;

  /* Default fonts */
  font-family: sans-serif;
  font-size: var(--font-size-base);

  /* Compatibility */
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  text-overflow: ellipsis;
  background: var(--background);
}

body {
  min-width: var(--body-min-width);
  max-width: var(--body-max-width);
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  /* Margins */
  margin: 0 auto;

  /* Prevent scroll in two directions */
  overflow: hidden scroll;
  color: var(--text-colour);
}

main {
  height: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 10vh;
  min-height: var(--padding-32);
}

hr {
  width: 80%;
  height: var(--padding-2);
  margin: auto;
  margin-top: var(--padding-16);
  margin-bottom: var(--padding-8);
  background: var(--grey-light);
  background-color: var(--grey-light);
}


/* Text Styling
 * ============ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  line-height: 1;
  margin-top: var(--padding-32);
  margin-bottom: var(--padding-16);
}

h1 {
  font-size: var(--font-size-48);
}

a, a:active, a:visited {
  text-decoration: none;
  color: var(--red);
}

a:hover {
  text-decoration: underline;
  color: var(--grey-light);
}

b,
strong {
  font-weight: bolder !important;
}

i {
  font-style: italic;
}

p {
  font-size: var(--font-size-16);
  margin-top: var(--padding-4);
  margin-bottom: var(--padding-2);
}

/* Image Styling
 * ============= */

img {
  margin: var(--padding-16) auto;
  display: block;
}

.banner {
  order: -1;
}

.center {
  text-align: center;
}
